<!DOCTYPE html>
<html ng-app="final">
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/angular-route.js"></script>
        <script type="text/javascript" src="js/angular-resource.js"></script>
    </head>
<body>
    <div class="container">
                      <div class="row">
                    <div class="col-md-12">
                    <div class ="navbar navbar-default">
                            <button class ="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                              
                            </button>
                            <nav class="collapse navbar-collapse navHeaderCollapse">
                                 <div class="navbar-header navbar-right">
   
    </div>
                                <ul class="nav navbar-nav navbar-left">
                                        <li><a class="active" href ="#/">Home</a></li>
                                       
                              
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form></a></li>
                        
                </ul>
            </nav>
                    </div>
                </div>
            </div>
        
        <div ng-view>
            
        </div>
    </div>
</body>
</html>